{% extends "layouts/v2_base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}{{site.slogan}}'s select {% endblock %}
{% block content %}
{% include "layouts/topherocv.html" %}
<section class="pb-6 pb-lg-8 bg-dark text-white o-95">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center text-danger my-4">
                <h1 class="mb-4">Latest Senses</h1>
                
                {% if tag %}
                <h2 class="mb-4 text-secondary text-center p-2 ">Sences tagged  with "{{ tag.name }}"</h2>
                {% endif %}
            </div>
        </div>
    </div>

</section>

<section class="pt-6 bg-light o-95">
    <div class="container mt-n10 mt-n11 z-2">
        <div class="row justify-content-center align-items-center">
            <div class=" card shadow col-12 p-5 o-90">
                <div class="row">
                <div class="col-md-4 col-lg-3 ">
                    <nav class="navbar navbar-expand-md navbar-light border-bottom">
                    <div class="w-100 p-2 " >     
                       
                        <button class="w-100 navbar-toggler mb-3 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#tagCollapse"
                            aria-controls="tagCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="tagCollapse">
                            <ul class="navbar-nav nav-pills flex-column mb-2 mb-md-0 w-100">
                                {% for tag in tags %}
                                <li>
                                    <a href="{% url 'sense:sense_tag' tag.slug %}" class="nav-link link-danger fw-bold ps-0 {% if tag.slug in segments %} ps-2 bg-danger text-white active {% endif %}">
                                    #{{tag.name|upper}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                      </div>
                    </nav>
                </div>
                <div class="col-md-8 col-lg-9 mx-auto">
                    {% for post in posts %}
                    <div class="card border-0   pb-8">
                        <div class="d-block" style="position: relative;">
                            <h2 class="card-title h5 st-font-size d-block">
                                <a class="link-danger text-decoration-none" href="{{ post.get_absolute_url }}">
                                    {{ post.title|upper }}
                                </a>

                            </h2>
                            <div class="sense-font-image d-none d-md-block">{{ post.title.0 }}</div>
                        </div>

                        <div class="card-body p-0 pb-8">
                            <div class="justify-content-between border-top border-bottom border-2 border-danger pt-2">
                                <div class="mb-2">
                                    <div class="text-muted">
                                        Published on {{ post.publish.date }} by <strong>{{ post.author.username  }}</strong>
                                        <span>
                                            / {% for tag in post.tags.all %}
                                            <a href="{% url 'sense:sense_tag' tag.slug %}"
                                                class="badge bg-secondary text-decoration-none link-blight">
                                                {{tag.name}}
                                            </a> /
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="card-text my-4 " style="font-size: 1.6rem; position:relative;">{{ post.body|safe|truncatechars:500 }}</div>
                            
                            
                        </div>
                        <div class=" d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ post.get_absolute_url }}" class="btn btn-lg btn-danger">Read On</a>
                            </div>
                            <div class="text-muted">{{post.view}} views</div>
                        </div>

                    </div>

                    {% endfor %}
                    {% include "layouts/pagination.html" with page=posts %}
                </div>
            </div>
            </div>

        </div>
    </div>
</section>






{% endblock content %}

{% block javascripts %}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d95fcae2a2f4222"></script>
<script type="text/javascript">

    var addthis_share = {
        url: "{{request.build_absolute_uri}}",
        title: "A nice work named '{{service.title}}' found at ",
    }
    var addthis_config = {
        data_track_clickback: false,
        data_track_addressbar: false,
    } 
</script>

{% endblock javascripts %}